@charset "utf-8";

/**
 * @site Four card feature section
 * @author Victor Brito
 */

@use "base/functions";
@use "base/mixins" with (
    $media-queries-breakpoints: (
        tablet: 730,
        desktop: 1110
    )
);
@use "variables";
@use "base/reset";
@use "base/print";
@use "typo/font-face";
@use "layout/layout";
@use "contents/features";